* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
/* 전체레이아웃 */
.wrap {
    width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
/* 상단 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    /* background-color: rgb(97, 67, 28); */
}
/* 로고 */
.logo {
    color: #000000;
    font-size: 30px;
    /* font-fam--ily: 'Times New Roman', Times, serif; */
    .playwrite-de-sas-<uniquifier >
        font-family: "Playwrite DE SAS", cursive;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    font-weight: bold;
    font-style: italic;
}
/* 메뉴 */
.menu {
    width: 500px;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}
.menu > li > a {
    /* font-family: "Playwrite DE SAS", cursive; */
    color: #000000;
}
.menu > li:hover > a {
    color: #666;
    text-decoration: underline;
}
.category{
    width: 500px;
    font-size: 18px;
    text-align: center;
    display: contents;
    justify-content: space-between;
}
/* 메인 */
.contents {
    width: 100%;
    padding: 40px 60px;
    background-color: rgb(233, 233, 233);
}
.contents p {
    line-height: 2;
}
/* 온그리디언츠 영역 */
.content-box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}
section h2 {
    margin-left: 10px;
    font-size: 20px;
}
/* 이미지 영역 */
.content-img {
    width: 200px;
    height: 200px;

    /* border-radius: 30px; */
    overflow: hidden;
    /* background-color: red; */
}
.content-img img {
    width: 100%;
    display: block;
    transition: all 0.3s;
}
.content-img:hover img {
    transform: scale(1.2);
}
/* 설명 박스 */
.content-text {
    width: 550px;
    /* background-color: red; */
}
.content-text h4 {
    margin-top: 10px;
    /* margin-bottom: 5px; */
    font-size: 20px;
}
.content-text h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}
/* activity */
.activity {
    margin-top: 50px;
}
.sale{
    margin-right: 3px;
    color: rgb(255, 0, 0);
}
.card{
    width: calc(100% / 3);
    background-color: aquamarine;
}
/* 하단 */
.container{
    width: 100%;
    padding: 50px 0;
}
.footer{
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.card img, .card video{
    display: block;
    width: 100%;


}
.footer a{
    color: #fff;
}